*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.table {
    width: 705px;
    margin: 80px auto;
    border-collapse: collapse;
}

.table thead {
 
    color: #000;
    text-align: left;
}
 
.h1{
    text-align: center;
    padding-top: 100px;
   
}
.table th,
table td {
    border: none;
    padding: 10px;
}


.tbody tr:nth-child(even) {
    background-color:rgb(219, 205, 205);
}

.btn1{
    background-color: green;
    border:none;
}
.btn2{
    background-color: orange;
    border:none;
}
.btn3{
    background-color: red;
    border:none;
}
.btn4{
    background-color: green;
    border:none;
}
.btn5{
    background-color: red;
    border:none;
}
.btn6{
    background-color: orange;
    border:none;
}
.btn7{
    background-color: orange;
    border:none;
}
.btn8{
    background-color: green;
    border:none;
}
